
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-2.1.4.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<div class="container-image">
    <img height="554" alt="RTR1OAI8-Beawiharta-main" width="1368" class="img-responsive" src="~/Content/1435360669527.jpg">
</div>
